<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PART</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/plugins/images/favicon.png">
    <!-- Custom CSS -->
    <link href="../assets/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet"
      href="../assets/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="../assets/css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/index.css" />
</head>
<body class = "bg-primary">
    <div class="bg-light text-center text-lg-start">
     <footer>
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-dark" href="https://mdbootstrap.com/">CumMaster.com</a>
        </div>
        <!-- Copyright -->
    </footer>   
    </div>
</body>
</html>